<!DOCTYPE html>
<html>
<head>
 <title>Explorer Robot</title>
<meta http-equiv='refresh' content='5' >
</head>";
<body>
<h1>Driving Commands:</h1>
  <a href="/command/f" >FORWARD</a>  
<br>
<a href="/command/l" >LEFT</a> 
<a href="/command/r" >RIGHT</a> 
<br>
  <a href="/command/b" >BACKWARD</a> 
<br>


<h1>Arm Commands:</h1>
  <a href="/command/u" > UP</a>  

<a href="/command/d" >DOWN</a> 
<br>
<a href="/command/bo" >BOW</a> 

  <a href="/command/ex" >EXTEND</a> 
 <br>
 <a href="/command/g" >GRIP</a> 

  <a href="/command/o" >OPEN</a> 
 <br>
<a href="http://192.168.0.100:8080/" target="_blank">Stream Video</a>
</body>
</html>

